**/.DS_Store

# Ignore all .env files and variants
.env
.env.*
.env.local
.env.*.local

# Ignore dotenv environment files with different extensions
*.env
*.env.*

# Ignore other common environment config files
.envrc
.envvars

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore Python compiled files
*.pyc
__pycache__/

#Ignore git files
.git
.gitmodules