p# Server Configuration
PORT=3001
NODE_ENV=development
BACKEND_URL=http://localhost:3001

# RPC URLs
ETH_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/your-key
POLYGON_RPC_URL=https://polygon-mainnet.g.alchemy.com/v2/your-key
ARBITRUM_RPC_URL=https://arb-mainnet.g.alchemy.com/v2/your-key
OPTIMISM_RPC_URL=https://opt-mainnet.g.alchemy.com/v2/your-key
BASE_RPC_URL=https://base-mainnet.g.alchemy.com/v2/your-key
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your-key

#Pinata
Pinata_API_Key=your-key
Pinata_API_Secret="your-API-secret
Pinata_JWT=yout-jwt

# Explorer API Key
BLOCKSCOUT_API_KEY=your-key
ETHERSCAN_API_KEY=your-key
ETH_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/key