uagents==0.22.10
cosmpy==0.11.2
grpcio==1.47.0
python-dotenv==1.0.0
aiohttp==3.9.5
nest-asyncio==1.5.8
requests==2.31.0

# gRPC & Protobuf (wheel-friendly on Apple silicon)
# grpcio>=1.62,<2
protobuf>=4.21.6,<5


# for thr risk auditor agent
# MeTTa reasoning (no Rust needed)
# hyperon-experimental